<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckBooks</servlet-name>
        <servlet-class>Site.CheckBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Site.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowServlet</servlet-name>
        <servlet-class>Site.BorrowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetailsServlet</servlet-name>
        <servlet-class>Site.BookDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>login.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCenterServlet</servlet-name>
        <servlet-class>UserCenter.UserCenterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckBooks</servlet-name>
        <url-pattern>/CheckBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowServlet</servlet-name>
        <url-pattern>/BorrowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetailsServlet</servlet-name>
        <url-pattern>/BookDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCenterServlet</servlet-name>
        <url-pattern>/UserCenterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
